.denied{
    background-color: rgb(214, 130, 130);
}
.granted{
    background-color:rgba(127, 217, 127, 0.695);
}
.my_box_mail{
    margin-top: 5rem;
}
#doc_header{
    height: 200px;
    text-align: center;
    margin-top: 3rem;

    img{
        height: 100%;
    }
}